{
    "swagger": "2.0",
    "info": {
      "version": "v1",
      "title": "Maxpanda API V1",
      "description": "The Maxpanda API documentation for version 1",
      "termsOfService": "Documented Online",
      "contact": {
        "name": "Maxpanda CMMS",
        "url": "https://www.maxpanda.com/helpmemax/#api"
      },
      "license": {
        "name": "License & Terms",
        "url": "https://www.maxpanda.com/terms-conditions.html"
      }
    },
    "host": "api.maxpanda.com",
    "schemes": [
      "https"
    ],
    "paths": {
      "/v1/Company/AssetStatuses": {
        "get": {
          "tags": [
            "Asset Status"
          ],
          "summary": "Get a paged list of Asset Status",
          "description": "The default list will return the first 25 records.  The NextPageUrl property will return the next page of records",
          "operationId": "AssetStatuses_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            },
            {
              "name": "page",
              "in": "query",
              "description": "Page number to start retrieving data (similar to List View pagification)",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "pageSize",
              "in": "query",
              "description": "Number of records per page (max=100)",
              "required": false,
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/AssetStatusResponseModel"
              }
            }
          }
        }
      },
      "/v1/Company/AssetStatuses/id": {
        "get": {
          "tags": [
            "Asset Status"
          ],
          "summary": "Get a specific Asset Status record",
          "operationId": "AssetStatuses_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "id",
              "in": "query",
              "description": "The Asset Status id to retrieve",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            }
          ],
          "responses": {
            "200": {
              "description": "the Asset Status was found",
              "schema": {
                "$ref": "#/definitions/AssetStatusResponseModel"
              }
            },
            "404": {
              "description": "the Asset Status was not found"
            }
          }
        }
      },
      "/v1/Assets": {
        "get": {
          "tags": [
            "Assets"
          ],
          "summary": "Get a list of Assets",
          "description": "The default list will return the first 25 records.  The NextPageUrl property will return the next page of records.",
          "operationId": "AssetsV1_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "siteId",
              "in": "query",
              "description": "Site ID can be found in your Maxpanda Site index or Sites API",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            },
            {
              "name": "page",
              "in": "query",
              "description": "Page number to start retrieving data (similar to List View pagification)",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "pageSize",
              "in": "query",
              "description": "Number of records per page (max=100)",
              "required": false,
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/AssetResponseModel"
              }
            }
          }
        }
      },
      "/v1/Asset/id": {
        "get": {
          "tags": [
            "Assets"
          ],
          "summary": "Get a specific Asset",
          "operationId": "AssetsV1_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "id",
              "in": "query",
              "description": "The asset id to retrieve",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "siteId",
              "in": "query",
              "description": "Site ID can be found in your Maxpanda Site index or Sites API",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            }
          ],
          "responses": {
            "200": {
              "description": "the asset was found",
              "schema": {
                "$ref": "#/definitions/AssetResponseModel"
              }
            },
            "404": {
              "description": "the asset was not found"
            }
          }
        }
      },
      "/v1/Asset": {
        "put": {
          "tags": [
            "Assets"
          ],
          "summary": "Update an Asset",
          "operationId": "AssetsV1_UpdateAsset",
          "consumes": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded"
          ],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "asset",
              "in": "body",
              "description": "Details of the Asset",
              "required": true,
              "schema": {
                "$ref": "#/definitions/UpdateAsset"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "the asset was updated",
              "schema": {
                "$ref": "#/definitions/AssetCreateUpdateResponseModel"
              }
            },
            "404": {
              "description": "the asset was not found"
            }
          }
        },
        "post": {
          "tags": [
            "Assets"
          ],
          "summary": "Create an Asset",
          "operationId": "AssetsV1_Create",
          "consumes": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded"
          ],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "asset",
              "in": "body",
              "description": "Details of the new Asset",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Asset"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "the asset was found",
              "schema": {
                "$ref": "#/definitions/AssetCreateUpdateResponseModel"
              }
            },
            "404": {
              "description": "the asset was not found"
            }
          }
        }
      },
      "/v1/Company/AssetTypes": {
        "get": {
          "tags": [
            "Asset Type"
          ],
          "summary": "Get a paged list of Asset Types",
          "description": "The default list will return the first 25 records.  The NextPageUrl property will return the next page of records",
          "operationId": "AssetTypes_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            },
            {
              "name": "page",
              "in": "query",
              "description": "Page number to start retrieving data (similar to List View pagification)",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "pageSize",
              "in": "query",
              "description": "Number of records per page (max=100)",
              "required": false,
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/AssetTypeResponseModel"
              }
            }
          }
        }
      },
      "/v1/Company/AssetTypes/id": {
        "get": {
          "tags": [
            "Asset Type"
          ],
          "summary": "Get a specific Asset Type type record",
          "operationId": "AssetTypes_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "id",
              "in": "query",
              "description": "TheAsset Type id to retrieve",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            }
          ],
          "responses": {
            "200": {
              "description": "the asset type was found",
              "schema": {
                "$ref": "#/definitions/AssetTypeResponseModel"
              }
            },
            "404": {
              "description": "the asset type was not found"
            }
          }
        }
      },
      "/v1/Bins": {
        "get": {
          "tags": [
            "Bins"
          ],
          "summary": "Get list of Bins",
          "description": "The default list will return the first 25 records.  The NextPageUrl property will return the next page of records.",
          "operationId": "Bin_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "siteId",
              "in": "query",
              "description": "Site ID can be found in your Maxpanda Site index or Sites API",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            },
            {
              "name": "page",
              "in": "query",
              "description": "Page number to start retrieving data (similar to List View pagification)",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "pageSize",
              "in": "query",
              "description": "Number of records per page (max=100)",
              "required": false,
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/BinResponseModel"
              }
            }
          }
        },
        "put": {
          "tags": [
            "Bins"
          ],
          "summary": "Update a Bin",
          "operationId": "Bin_Put",
          "consumes": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded"
          ],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "updateBin",
              "in": "body",
              "description": "Details of the Bin",
              "required": true,
              "schema": {
                "$ref": "#/definitions/UpdateBinModel"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "the bin was updated",
              "schema": {
                "$ref": "#/definitions/BinCreateUpdateResponseModel"
              }
            },
            "404": {
              "description": "some thing went wrong"
            }
          }
        },
        "post": {
          "tags": [
            "Bins"
          ],
          "summary": "Create a Bin",
          "operationId": "Bin_Post",
          "consumes": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded"
          ],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "bin",
              "in": "body",
              "description": "Details of the new Bin",
              "required": true,
              "schema": {
                "$ref": "#/definitions/CreateBinModel"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "the bin was created",
              "schema": {
                "$ref": "#/definitions/BinCreateUpdateResponseModel"
              }
            },
            "404": {
              "description": "some thing went wrong"
            }
          }
        }
      },
      "/v1/Bins/id": {
        "get": {
          "tags": [
            "Bins"
          ],
          "summary": "Get a specific Bin",
          "operationId": "Bin_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "id",
              "in": "query",
              "description": "The Bin id to retrieve",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "siteId",
              "in": "query",
              "description": "Site ID can be found in your Maxpanda Site index or Sites API",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            }
          ],
          "responses": {
            "200": {
              "description": "the Bin was found",
              "schema": {
                "$ref": "#/definitions/BinResponseModel"
              }
            },
            "404": {
              "description": "the Bin was not found"
            }
          }
        }
      },
      "/v1/Buildings": {
        "get": {
          "tags": [
            "Buildings"
          ],
          "summary": "Get a paged list of buildings",
          "description": "The default list will return the first 25 records.  The NextPageUrl property will return the next page of records.",
          "operationId": "Buildings_GetBuildings",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "siteId",
              "in": "query",
              "description": "Site ID can be found in your Maxpanda Site index or Sites API",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            },
            {
              "name": "page",
              "in": "query",
              "description": "Page number to start retrieving data (similar to List View pagification)",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "pageSize",
              "in": "query",
              "description": "Number of records per page (max=100)",
              "required": false,
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/BuildingResponseModel"
              }
            }
          }
        }
      },
      "/v1/Building/id": {
        "get": {
          "tags": [
            "Buildings"
          ],
          "summary": "Get a specific Building",
          "operationId": "Buildings_GetBuilding",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "id",
              "in": "query",
              "description": "The building id to retrieve",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "siteId",
              "in": "query",
              "description": "Site ID can be found in your Maxpanda Site index or Sites API",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            }
          ],
          "responses": {
            "200": {
              "description": "the building was found",
              "schema": {
                "$ref": "#/definitions/BuildingResponseModel"
              }
            },
            "404": {
              "description": "the building was not found"
            }
          }
        }
      },
      "/v1/Building": {
        "post": {
          "tags": [
            "Buildings"
          ],
          "summary": "Create a new Building",
          "operationId": "Buildings_CreateBuilding",
          "consumes": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded"
          ],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "building",
              "in": "body",
              "description": "Details of the new Building",
              "required": true,
              "schema": {
                "$ref": "#/definitions/BuildingCreateModel"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/BuildingCreateUpdateResponseModel"
              }
            }
          }
        },
        "patch": {
          "tags": [
            "Buildings"
          ],
          "summary": "Update specific attributes of a given building",
          "operationId": "Buildings_Patch",
          "consumes": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded"
          ],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "building",
              "in": "body",
              "description": "Building details can be found in Building API",
              "required": true,
              "schema": {
                "$ref": "#/definitions/BuildingUpdateModel"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "the building was patched",
              "schema": {
                "$ref": "#/definitions/BuildingCreateUpdateResponseModel"
              }
            },
            "404": {
              "description": "the building was not found"
            }
          }
        }
      },
      "/v1/Customer": {
        "put": {
          "tags": [
            "Customer"
          ],
          "summary": "Update an existing customer.",
          "operationId": "Customer_Put",
          "consumes": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded"
          ],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "customer",
              "in": "body",
              "description": "The customer to be updated",
              "required": true,
              "schema": {
                "$ref": "#/definitions/UpdateCustomerModel"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "The customer was updated",
              "schema": {
                "$ref": "#/definitions/CustomerCreateUpdateResponseModel"
              }
            },
            "404": {
              "description": "The customer was not found, update failed"
            }
          }
        },
        "post": {
          "tags": [
            "Customer"
          ],
          "summary": "Create a new customer",
          "description": "The default list will return the first 25 records.  The NextPageUrl property will return the next page of records.",
          "operationId": "Customer_Post",
          "consumes": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded"
          ],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "customer",
              "in": "body",
              "description": "The Customer to be added",
              "required": true,
              "schema": {
                "$ref": "#/definitions/CreateCustomerModel"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/CustomerCreateUpdateResponseModel"
              }
            }
          }
        }
      },
      "/v1/Customers": {
        "get": {
          "tags": [
            "Customer"
          ],
          "summary": "Get a paged list of Customers",
          "description": "The default list will return the first 25 records.  The NextPageUrl property will return the next page of records.",
          "operationId": "Customer_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "siteId",
              "in": "query",
              "description": "Site ID can be found in your Maxpanda Site index or Sites API",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            },
            {
              "name": "page",
              "in": "query",
              "description": "Page number to start retrieving data (similar to List View pagification)",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "pageSize",
              "in": "query",
              "description": "Number of records per page (max=100)",
              "required": false,
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/CustomerResponseModel"
              }
            }
          }
        }
      },
      "/v1/Customer/id": {
        "get": {
          "tags": [
            "Customer"
          ],
          "summary": "Get a specific customer",
          "operationId": "Customer_GetCustomerById",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "id",
              "in": "query",
              "description": "The customer id to retrieve",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "siteId",
              "in": "query",
              "description": "Site ID can be found in your Maxpanda Site index or Sites API",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            }
          ],
          "responses": {
            "200": {
              "description": "the User was found",
              "schema": {
                "$ref": "#/definitions/CustomerResponseModel"
              }
            },
            "404": {
              "description": "the User was not found"
            }
          }
        }
      },
      "/v1/GetCustomerInvoices": {
        "get": {
          "tags": [
            "Customer Invoices"
          ],
          "summary": "Get list of Customer Invoices",
          "operationId": "CustomerInvoice_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            },
            {
              "name": "page",
              "in": "query",
              "description": "Page number to start retrieving data (similar to List View pagification)",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "pageSize",
              "in": "query",
              "description": "Number of records per page (max=100)",
              "required": false,
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/InvoiceResponseModel"
              }
            }
          }
        }
      },
      "/v1/GetCustomerInvoice/id": {
        "get": {
          "tags": [
            "Customer Invoices"
          ],
          "summary": "Get a specific Customer Invoice",
          "operationId": "CustomerInvoice_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "id",
              "in": "query",
              "description": "Invoice ID can be found in your Maxpanda Customer Invoice index or Customer Invoice API",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            }
          ],
          "responses": {
            "200": {
              "description": "the invoice was found",
              "schema": {
                "$ref": "#/definitions/InvoiceResponseModel"
              }
            },
            "404": {
              "description": "the invoice was not found"
            }
          }
        }
      },
      "/v1/CustomerInvoice": {
        "put": {
          "tags": [
            "Customer Invoices"
          ],
          "summary": "Update Customer Invoice",
          "operationId": "CustomerInvoice_EditCustomerInvoice",
          "consumes": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded"
          ],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "updateCustomerInvoice",
              "in": "body",
              "description": "",
              "required": true,
              "schema": {
                "$ref": "#/definitions/UpdateCustomerInvoice"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/InvoiceCreateUpdateResponseModel"
              }
            }
          }
        },
        "post": {
          "tags": [
            "Customer Invoices"
          ],
          "summary": "Create a new customer invoice.",
          "operationId": "CustomerInvoice_CreateCustomerInvoice",
          "consumes": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded"
          ],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "customerinvoice",
              "in": "body",
              "description": "The Customer invoice to be added",
              "required": true,
              "schema": {
                "$ref": "#/definitions/CreateCustomerInvoice"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/InvoiceCreateUpdateResponseModel"
              }
            }
          }
        }
      },
      "/v1/Company/Departments": {
        "get": {
          "tags": [
            "Department"
          ],
          "summary": "Get a paged list of departments",
          "description": "The default list will return the first 25 records.  The NextPageUrl property will return the next page of records",
          "operationId": "Department_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            },
            {
              "name": "page",
              "in": "query",
              "description": "Page number to start retrieving data (similar to List View pagification)",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "pageSize",
              "in": "query",
              "description": "Number of records per page (max=100)",
              "required": false,
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/DepartmentResponseModel"
              }
            }
          }
        }
      },
      "/v1/Company/Department/id": {
        "get": {
          "tags": [
            "Department"
          ],
          "summary": "Get a specific Department type record",
          "operationId": "Department_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "id",
              "in": "query",
              "description": "Id of the Building Group to retrieve",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            }
          ],
          "responses": {
            "200": {
              "description": "the department was found",
              "schema": {
                "$ref": "#/definitions/DepartmentResponseModel"
              }
            },
            "404": {
              "description": "the department was not found"
            }
          }
        }
      },
      "/v1/Company/InvoiceItemTypes": {
        "get": {
          "tags": [
            "Invoice Item Type"
          ],
          "summary": "Get a paged list of Invoice Item Types",
          "description": "The default list will return the first 25 records.  The NextPageUrl property will return the next page of records",
          "operationId": "InvoiceItemTypes_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            },
            {
              "name": "page",
              "in": "query",
              "description": "Page number to start retrieving data (similar to List View pagification)",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "pageSize",
              "in": "query",
              "description": "Number of records per page (max=100)",
              "required": false,
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/InvoiceItemTypeResponseModel"
              }
            }
          }
        }
      },
      "/v1/Company/InvoiceItemType/id": {
        "get": {
          "tags": [
            "Invoice Item Type"
          ],
          "summary": "Get a specific Invoice Item Type record",
          "operationId": "InvoiceItemTypes_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "id",
              "in": "query",
              "description": "TheInvoice Item Type id to retrieve",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            }
          ],
          "responses": {
            "200": {
              "description": "the Invoice Item Type was found",
              "schema": {
                "$ref": "#/definitions/InvoiceItemTypeResponseModel"
              }
            },
            "404": {
              "description": "the Invoice Item Type was not found"
            }
          }
        }
      },
      "/v1/Company/InvoiceTaxes": {
        "get": {
          "tags": [
            "Invoice Item Tax"
          ],
          "summary": "Get a paged list of Invoice Taxes",
          "description": "The default list will return the first 25 records.  The NextPageUrl property will return the next page of records",
          "operationId": "InvoiceTax_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            },
            {
              "name": "page",
              "in": "query",
              "description": "Page number to start retrieving data (similar to List View pagification)",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "pageSize",
              "in": "query",
              "description": "Number of records per page (max=100)",
              "required": false,
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/InvoiceTaxResponseModel"
              }
            }
          }
        }
      },
      "/v1/Company/InvoiceTax/id": {
        "get": {
          "tags": [
            "Invoice Item Tax"
          ],
          "summary": "Get a specific Invoice Tax record",
          "operationId": "InvoiceTax_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "id",
              "in": "query",
              "description": "The Invoice Tax Id to retrieve",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            }
          ],
          "responses": {
            "200": {
              "description": "the Invoice Tax was found",
              "schema": {
                "$ref": "#/definitions/InvoiceTaxResponseModel"
              }
            },
            "404": {
              "description": "the Invoice Tax Type was not found"
            }
          }
        }
      },
      "/v1/Locations": {
        "get": {
          "tags": [
            "Location"
          ],
          "summary": "Get a list of locations",
          "description": "The default list will return the first 25 records.  The NextPageUrl property will return the next page of records",
          "operationId": "Locations_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "siteId",
              "in": "query",
              "description": "Site ID can be found in your Maxpanda Site index or Sites API",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            },
            {
              "name": "page",
              "in": "query",
              "description": "Page number to start retrieving data (similar to List View pagification)",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "pageSize",
              "in": "query",
              "description": "Number of records per page (max=100)",
              "required": false,
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/LocationResponseModel"
              }
            }
          }
        }
      },
      "/v1/Location/id": {
        "get": {
          "tags": [
            "Location"
          ],
          "summary": "Get a specific location",
          "operationId": "Locations_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "id",
              "in": "query",
              "description": "The location id to retrieve",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "siteId",
              "in": "query",
              "description": "Site ID can be found in your Maxpanda Site index or Sites API",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            }
          ],
          "responses": {
            "200": {
              "description": "the location was found",
              "schema": {
                "$ref": "#/definitions/LocationResponseModel"
              }
            },
            "404": {
              "description": "the location was not found"
            }
          }
        }
      },
      "/v1/Location": {
        "put": {
          "tags": [
            "Location"
          ],
          "summary": "Update a location",
          "operationId": "Locations_Patch",
          "consumes": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded"
          ],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "location",
              "in": "body",
              "description": "Details of the new location",
              "required": true,
              "schema": {
                "$ref": "#/definitions/LocationUpdateModel"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "The new location was created",
              "schema": {
                "$ref": "#/definitions/LocationCreateUpdateResponseModel"
              }
            },
            "404": {
              "description": "Failed to create new location"
            }
          }
        },
        "post": {
          "tags": [
            "Location"
          ],
          "summary": "Create a location",
          "operationId": "Locations_Create",
          "consumes": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded"
          ],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "location",
              "in": "body",
              "description": "Details of the new location",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Location"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "The new location was created",
              "schema": {
                "$ref": "#/definitions/LocationCreateUpdateResponseModel"
              }
            },
            "404": {
              "description": "Failed to create new location"
            }
          }
        }
      },
      "/v1/Company/LocationTypes": {
        "get": {
          "tags": [
            "Location Type"
          ],
          "summary": "Get a paged list of Location Types",
          "description": "The default list will return the first 25 records.  The NextPageUrl property will return the next page of records",
          "operationId": "LocationTypes_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            },
            {
              "name": "page",
              "in": "query",
              "description": "Page number to start retrieving data (similar to List View pagification)",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "pageSize",
              "in": "query",
              "description": "Number of records per page (max=100)",
              "required": false,
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/LocationTypeResponseModel"
              }
            }
          }
        }
      },
      "/v1/Company/LocationTypes/id": {
        "get": {
          "tags": [
            "Location Type"
          ],
          "summary": "Get a specific location type record",
          "operationId": "LocationTypes_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "id",
              "in": "query",
              "description": "The location type id to retrieve",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            }
          ],
          "responses": {
            "200": {
              "description": "the location type was found",
              "schema": {
                "$ref": "#/definitions/LocationTypeResponseModel"
              }
            },
            "404": {
              "description": "the location type was not found"
            }
          }
        }
      },
      "/v1/Company/MeteringTypes": {
        "get": {
          "tags": [
            "Metering Type"
          ],
          "summary": "Get a paged list of Metering Types",
          "description": "The default list will return the first 25 records.  The NextPageUrl property will return the next page of records",
          "operationId": "MeteringTypes_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            },
            {
              "name": "page",
              "in": "query",
              "description": "Page number to start retrieving data (similar to List View pagification)",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "pageSize",
              "in": "query",
              "description": "Number of records per page (max=100)",
              "required": false,
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/MeteringTypeResponseModel"
              }
            }
          }
        }
      },
      "/v1/Company/MeteringTypes/id": {
        "get": {
          "tags": [
            "Metering Type"
          ],
          "summary": "Get a specific Metering Type record",
          "operationId": "MeteringTypes_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "id",
              "in": "query",
              "description": "The Metering Types id to retrieve",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            }
          ],
          "responses": {
            "200": {
              "description": "the Metering Type was found",
              "schema": {
                "$ref": "#/definitions/MeteringTypeResponseModel"
              }
            },
            "404": {
              "description": "the Metering Type was not found"
            }
          }
        }
      },
      "/v1/PartTypes": {
        "get": {
          "tags": [
            "Parts"
          ],
          "summary": "Get a list of Part Types",
          "description": "The default list will return the first 25 records.  The NextPageUrl property will return the next page of records",
          "operationId": "Part_GetPartTypes",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "page",
              "in": "query",
              "description": "Page number to start retrieving data (similar to List View pagification)",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "pageSize",
              "in": "query",
              "description": "Number of records per page (max=100)",
              "required": false,
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/PartTypeResponseModel"
              }
            }
          }
        }
      },
      "/v1/Parts": {
        "get": {
          "tags": [
            "Parts"
          ],
          "summary": "Get a list of parts",
          "description": "The default list will return the first 25 records.  The NextPageUrl property will return the next page of records.",
          "operationId": "Part_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "siteId",
              "in": "query",
              "description": "Site ID can be found in your Maxpanda Site index or Sites API",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            },
            {
              "name": "page",
              "in": "query",
              "description": "Page number to start retrieving data (similar to List View pagification)",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "pageSize",
              "in": "query",
              "description": "Number of records per page (max=100)",
              "required": false,
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/PartResponseModel"
              }
            }
          }
        }
      },
      "/v1/Part/id": {
        "get": {
          "tags": [
            "Parts"
          ],
          "summary": "Get a specific Part",
          "operationId": "Part_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "id",
              "in": "query",
              "description": "The Part id to retrieve",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "siteId",
              "in": "query",
              "description": "Site ID can be found in your Maxpanda Site index or Sites API",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            }
          ],
          "responses": {
            "200": {
              "description": "the Part was found",
              "schema": {
                "$ref": "#/definitions/PartResponseModel"
              }
            },
            "404": {
              "description": "the Part was not found"
            }
          }
        }
      },
      "/v1/Part": {
        "put": {
          "tags": [
            "Parts"
          ],
          "summary": "Update a Part",
          "operationId": "Part_Put",
          "consumes": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded"
          ],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "updatePart",
              "in": "body",
              "description": "Details of Part",
              "required": true,
              "schema": {
                "$ref": "#/definitions/UpdatePartModel"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "the part is updated",
              "schema": {
                "$ref": "#/definitions/PartCreateUpdateResponseModel"
              }
            },
            "404": {
              "description": "some thing went wrong"
            }
          }
        },
        "post": {
          "tags": [
            "Parts"
          ],
          "summary": "Create a new Part",
          "operationId": "Part_Post",
          "consumes": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded"
          ],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "part",
              "in": "body",
              "description": "Details of new Part",
              "required": true,
              "schema": {
                "$ref": "#/definitions/CreatePartModel"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "the part is created",
              "schema": {
                "$ref": "#/definitions/PartCreateUpdateResponseModel"
              }
            },
            "404": {
              "description": "some thing went wrong"
            }
          }
        }
      },
      "/v1/Company/PartCategory": {
        "get": {
          "tags": [
            "Part Category"
          ],
          "summary": "Get a paged list of PartCategory",
          "description": "The default list will return the first 25 records.  The NextPageUrl property will return the next page of records",
          "operationId": "PartCategory_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            },
            {
              "name": "page",
              "in": "query",
              "description": "Page number to start retrieving data (similar to List View pagification)",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "pageSize",
              "in": "query",
              "description": "Number of records per page (max=100)",
              "required": false,
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/PartCategoryResponseModel"
              }
            }
          }
        },
        "put": {
          "tags": [
            "Part Category"
          ],
          "summary": "Update an existing Part Category",
          "operationId": "PartCategory_Put",
          "consumes": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded"
          ],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "PartCategory",
              "in": "body",
              "description": "Details of Part Category",
              "required": true,
              "schema": {
                "$ref": "#/definitions/UpdatePartCategory"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/CreateUpdatePartCategory"
              }
            }
          }
        },
        "post": {
          "tags": [
            "Part Category"
          ],
          "summary": "Create a new Part Category",
          "operationId": "PartCategory_Create",
          "consumes": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded"
          ],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "PartCategory",
              "in": "body",
              "description": "Details of Part Category",
              "required": true,
              "schema": {
                "$ref": "#/definitions/CreatePartCategory"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/CreateUpdatePartCategory"
              }
            }
          }
        },
        "delete": {
          "tags": [
            "Part Category"
          ],
          "summary": "Delete PartCategory of Part",
          "operationId": "PartCategory_DeletePartCategory",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "PartCategoryId",
              "in": "query",
              "description": "Id of PartCategory",
              "required": true,
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/PageResult"
              }
            }
          }
        }
      },
      "/v1/Company/PartCategory/{id}": {
        "get": {
          "tags": [
            "Part Category"
          ],
          "summary": "Get a specific Part Category record",
          "operationId": "PartCategory_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "The Part category id to retrieve",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            }
          ],
          "responses": {
            "200": {
              "description": "the Part category was found",
              "schema": {
                "$ref": "#/definitions/PartCategoryResponseModel"
              }
            },
            "404": {
              "description": "the Part category was not found"
            }
          }
        }
      },
      "/v1/Company/PartStatuses": {
        "get": {
          "tags": [
            "Part Status"
          ],
          "summary": "Get a paged list of Parts Status",
          "description": "The default list will return the first 25 records.  The NextPageUrl property will return the next page of records",
          "operationId": "PartStatuses_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            },
            {
              "name": "page",
              "in": "query",
              "description": "Page number to start retrieving data (similar to List View pagification)",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "pageSize",
              "in": "query",
              "description": "Number of records per page (max=100)",
              "required": false,
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/PartStatusResponseModel"
              }
            }
          }
        }
      },
      "/v1/Company/PartStatuses/{id}": {
        "get": {
          "tags": [
            "Part Status"
          ],
          "summary": "Get a specific Part Status record",
          "operationId": "PartStatuses_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "The Part Status id to retrieve",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            }
          ],
          "responses": {
            "200": {
              "description": "the Part Status was found",
              "schema": {
                "$ref": "#/definitions/PartStatusResponseModel"
              }
            },
            "404": {
              "description": "the Part Status was not found"
            }
          }
        }
      },
      "/v1/Company/POAddress": {
        "get": {
          "tags": [
            "PO Address"
          ],
          "summary": "Get Purchase Order Address",
          "operationId": "POAddress_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "siteId",
              "in": "query",
              "description": "",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            },
            {
              "name": "page",
              "in": "query",
              "description": "Page number to start retrieving data (similar to List View pagification)",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "pageSize",
              "in": "query",
              "description": "Number of records per page (max=100)",
              "required": false,
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/POAddressModelAPI"
              }
            }
          }
        },
        "put": {
          "tags": [
            "PO Address"
          ],
          "summary": "Update an existing Purchase Order Address",
          "operationId": "POAddress_Put",
          "consumes": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded"
          ],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "address",
              "in": "body",
              "description": "Details of Purchase Order Address",
              "required": true,
              "schema": {
                "$ref": "#/definitions/UpdatePOAddress"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/POAddressAPIModel"
              }
            }
          }
        },
        "post": {
          "tags": [
            "PO Address"
          ],
          "summary": "Create a new Purchase Order Address",
          "operationId": "POAddress_Create",
          "consumes": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded"
          ],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "address",
              "in": "body",
              "description": "Details of Purchase Order Address",
              "required": true,
              "schema": {
                "$ref": "#/definitions/CreatePOAddress"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/POAddressAPIModel"
              }
            }
          }
        }
      },
      "/v1/Company/POAddress/id": {
        "get": {
          "tags": [
            "PO Address"
          ],
          "summary": "Get a specific PO Address",
          "operationId": "POAddress_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "id",
              "in": "query",
              "description": "POAddress Id",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "siteId",
              "in": "query",
              "description": "Site ID can be found in your Maxpanda Site index or Sites API",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            }
          ],
          "responses": {
            "200": {
              "description": "the PO Address was found",
              "schema": {
                "$ref": "#/definitions/POAddressModelAPI"
              }
            },
            "404": {
              "description": "the PO Address was not found"
            }
          }
        }
      },
      "/v1/PurchaseOrderTemplate": {
        "get": {
          "tags": [
            "PO Templates"
          ],
          "summary": "Get a paged list of Purchase Order Template",
          "description": "The default list will return the first 25 records.  The NextPageUrl property will return the next page of records.",
          "operationId": "POTemplate_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "siteId",
              "in": "query",
              "description": "Site ID can be found in your Maxpanda Site index or Sites API",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            },
            {
              "name": "page",
              "in": "query",
              "description": "Page number to start retrieving data (similar to List View pagification)",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "pageSize",
              "in": "query",
              "description": "Number of records per page (max=100)",
              "required": false,
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/POTemplateResponseModel"
              }
            }
          }
        }
      },
      "/v1/PurchaseOrderTemplate/id": {
        "get": {
          "tags": [
            "PO Templates"
          ],
          "summary": "Get a specific Purchase Order Template",
          "operationId": "POTemplate_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "id",
              "in": "query",
              "description": "The Purchase Order Template id to retrieve",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "siteId",
              "in": "query",
              "description": "Site ID can be found in your Maxpanda Site index or Sites API",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            }
          ],
          "responses": {
            "200": {
              "description": "the Purchase Order Template was found",
              "schema": {
                "$ref": "#/definitions/POTemplateResponseModel"
              }
            },
            "404": {
              "description": "the Purchase Order Template was not found"
            }
          }
        }
      },
      "/v1/PurchaseOrder": {
        "get": {
          "tags": [
            "Purchase Orders"
          ],
          "summary": "Get a paged list of Purchase Orders",
          "description": "The default list will return the first 25 records.  The NextPageUrl property will return the next page of records.",
          "operationId": "PurchaseOrder_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "siteId",
              "in": "query",
              "description": "Site ID can be found in your Maxpanda Site index or Sites API",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            },
            {
              "name": "page",
              "in": "query",
              "description": "Page number to start retrieving data (similar to List View pagification)",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "pageSize",
              "in": "query",
              "description": "Number of records per page (max=100)",
              "required": false,
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/PurchaseOrderResponseModel"
              }
            }
          }
        },
        "put": {
          "tags": [
            "Purchase Orders"
          ],
          "summary": "Update a Purchase Order",
          "operationId": "PurchaseOrder_Put",
          "consumes": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded"
          ],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "purchaseOrder",
              "in": "body",
              "description": "Details of Purchase Order",
              "required": true,
              "schema": {
                "$ref": "#/definitions/UpdatePurchaseOrder"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/POCreateUpdateResponseModel"
              }
            }
          }
        },
        "post": {
          "tags": [
            "Purchase Orders"
          ],
          "summary": "Create a new Purchase Order",
          "operationId": "PurchaseOrder_Post",
          "consumes": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded"
          ],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "purchaseOrder",
              "in": "body",
              "description": "Details of new Purchase Order",
              "required": true,
              "schema": {
                "$ref": "#/definitions/CreatePurchaseOrder"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "the purchase order is created",
              "schema": {
                "$ref": "#/definitions/POCreateUpdateResponseModel"
              }
            },
            "404": {
              "description": "something went wrong"
            }
          }
        }
      },
      "/v1/PurchaseOrder/id": {
        "get": {
          "tags": [
            "Purchase Orders"
          ],
          "summary": "Get a specific Purchase Order",
          "operationId": "PurchaseOrder_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "id",
              "in": "query",
              "description": "The Purchase Order id to retrieve",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "siteId",
              "in": "query",
              "description": "Site ID can be found in your Maxpanda Site index or Sites API",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            }
          ],
          "responses": {
            "200": {
              "description": "the Purchase Order was found",
              "schema": {
                "$ref": "#/definitions/PurchaseOrderResponseModel"
              }
            },
            "404": {
              "description": "the Purchase Order was not found"
            }
          }
        }
      },
      "/v1/UpdatePurchaseOrderStatus": {
        "put": {
          "tags": [
            "Purchase Orders"
          ],
          "summary": "Update Status of Purchase Order",
          "operationId": "PurchaseOrder_Put",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "PurchaseOrderId",
              "in": "query",
              "description": "Purchase Order Id",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "SiteId",
              "in": "query",
              "description": "Site ID can be found in your Maxpanda Site index or Sites API",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "NewStatus",
              "in": "query",
              "description": "Status ID can be found in Purchase Order Status API",
              "required": true,
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/POCreateUpdateResponseModel"
              }
            }
          }
        }
      },
      "/v1/PurchaseOrderStatus": {
        "get": {
          "tags": [
            "Purchase Orders"
          ],
          "summary": "Get Purchase Order Statuses",
          "operationId": "PurchaseOrder_GetPOStatus",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/PageResult"
              }
            }
          }
        }
      },
      "/v1/ServiceTypes": {
        "get": {
          "tags": [
            "Service Types"
          ],
          "summary": "Get a paged list of Service Types",
          "description": "The default list will return the first 25 records.  The NextPageUrl property will return the next page of records",
          "operationId": "ServiceType_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "siteId",
              "in": "query",
              "description": "Site ID can be found in your Maxpanda Site index or Sites API",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            },
            {
              "name": "page",
              "in": "query",
              "description": "Page number to start retrieving data (similar to List View pagification)",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "pageSize",
              "in": "query",
              "description": "Number of records per page (max=100)",
              "required": false,
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ServiceTypesListResponseList"
              }
            }
          }
        }
      },
      "/v1/ServiceType/id": {
        "get": {
          "tags": [
            "Service Types"
          ],
          "summary": "Get a Service Type",
          "operationId": "ServiceType_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "id",
              "in": "query",
              "description": "The Service Type id to retrieve",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "siteId",
              "in": "query",
              "description": "Site ID can be found in your Maxpanda Site index or Sites API",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            }
          ],
          "responses": {
            "200": {
              "description": "the Service Type was found",
              "schema": {
                "$ref": "#/definitions/ServiceTypesListResponseList"
              }
            },
            "404": {
              "description": "the Service Type was not found"
            }
          }
        }
      },
      "/v1/ServiceType": {
        "put": {
          "tags": [
            "Service Types"
          ],
          "summary": "Update a service Type",
          "operationId": "ServiceType_Put",
          "consumes": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded"
          ],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "updateServiceType",
              "in": "body",
              "description": "Details of service Type",
              "required": true,
              "schema": {
                "$ref": "#/definitions/UpdateServiceTypeModel"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "The service Type is updated",
              "schema": {
                "$ref": "#/definitions/ServiceCreateUpdateResponseModel"
              }
            },
            "404": {
              "description": "some thing went wrong"
            }
          }
        },
        "post": {
          "tags": [
            "Service Types"
          ],
          "summary": "Create a new service Type",
          "operationId": "ServiceType_Post",
          "consumes": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded"
          ],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "ServiceType",
              "in": "body",
              "description": "Details of new service Type",
              "required": true,
              "schema": {
                "$ref": "#/definitions/CreateServiceTypeModel"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "The service Type is created",
              "schema": {
                "$ref": "#/definitions/ServiceCreateUpdateResponseModel"
              }
            },
            "404": {
              "description": "some thing went wrong"
            }
          }
        }
      },
      "/v1/Sites": {
        "get": {
          "tags": [
            "Sites"
          ],
          "summary": "Get a list of sites",
          "description": "The default list will return the first 25 records.  The NextPageUrl property will return the next page of records",
          "operationId": "Sites_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            },
            {
              "name": "page",
              "in": "query",
              "description": "Page number to start retrieving data (similar to List View pagification)",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "pageSize",
              "in": "query",
              "description": "Number of records per page (max=100)",
              "required": false,
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/SiteResponseModel"
              }
            }
          }
        }
      },
      "/v1/Sites/id": {
        "get": {
          "tags": [
            "Sites"
          ],
          "summary": "Get a specific site",
          "operationId": "Sites_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "id",
              "in": "query",
              "description": "The site id to retrieve",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "requestCompleteInformation",
              "in": "query",
              "description": "True option provides all the data fields. False will only return required fields",
              "required": true,
              "type": "boolean"
            }
          ],
          "responses": {
            "200": {
              "description": "the site was found",
              "schema": {
                "$ref": "#/definitions/SiteResponseModel"
              }
            },
            "404": {
              "description": "the site was not found"
            }
          }
        }
      },
      "/v1/Tasks": {
        "get": {
          "tags": [
            "Tasks"
          ],
          "summary": "Get a paged list of Task Statuses",
          "description": "The default list will return the first 25 records.  The NextPageUrl property will return the next page of records",
          "operationId": "Task_Get",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "text/html",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "siteId",
              "in": "query",
              "description": "Site ID can be found in your Maxpanda Site index or Sites API",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            {
[...]
